<html>

<head>
    <title>ChatBot</title>
</head>
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.512.0.min.js"></script>
<!-- <link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<script src="/js/angular.min.js"></script> -->

<body ng-app="chatBot" ng-controller="botCtrl"></body>
<div class="container">
    <div class="msg-header">
        <div class="msg-header-img">
            <img src="user.png">
        </div>
        <div class="active">
            <h4>Talk to Bot</h4>
        </div>
        <div class="header-icons">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
    <div class="chat-page">
        <div class="msg-inbox">
            <div class="chats">
                <div class="msg-page">
                    <div ng-repeat="msg in chatMessage track by $index" class="{{msg.css}}-chats">
                        <div class="{{msg.css}}-chats-img">
                            <img src="user.png">
                        </div>
                        <div class="{{msg.css}}-msg">
                            <div class="{{msg.css}}-msg-inbox">
                                <p>{{msg.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="msg-bottom">
            <div class="bottom-icons">
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Message..." ng-model="textSent" />
                <div class="input-group-append">
                    <span class="input-group-text">
                            <i class="fa fa-paper-plane" ng-click=send(textSent)></i>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var app = angular.module('chatBot', []);
    app.controller('botCtrl', function($scope, $timeout) {

        const REGION = "XXX region XXX";
        const POOL_ID = "XXX your pool id XXX";


        const myCredentials = new AWS.CognitoIdentityCredentials({
            IdentityPoolId: POOL_ID
        }, {
            region: REGION
        });

        var params = {
            botName: "BookTrip",
            botAlias: "botwithcustomres",
            userId: "varnit",
            contentType: "text/plain; charset=utf-8",
            accept: "text/plain; charset=utf-8"
        };

        var lexruntime = new AWS.LexRuntime({
            region: REGION,
            credentials: myCredentials
        });

        $scope.postContent = function(text) {
            params.inputStream = text;
            return new Promise((resolve, reject) => {
                lexruntime.postContent(params, (err, data) => {
                    if (err) {
                        reject(err);
                    }
                    resolve(data);
                });
            });
        }


        $scope.chatMessage = [];
        $scope.userMessage = {};
        $scope.botMessage = {};
        $scope.index = 0;

        $scope.send = function(textSent) {
            $scope.userMessage.text = textSent;
            $scope.userMessage.css = "outgoing";
            $scope.userMessage.type = "user";
            if (textSent != null || textSent != undefined) {
                let user = {...$scope.userMessage
                };
                $scope.chatMessage.push(user);
                $scope.postContent(textSent).then(res => {
                    console.log('response from lex', res)
                    $scope.chatMessage = [...$scope.chatMessage, {
                        text: res.message,
                        css: "received",
                        type: "bot"
                    }];
                    $scope.$apply();
                });
                $scope.textSent = '';
            }
        }
    });
</script>

</html>
