.container {
    max-width: 500 !important;
    margin: auto;
    margin-top: 4%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background: #67b26f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #4ca2cd, #67b26f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #4ca2cd, #67b26f);
    /* background-color: #007bff; */
}

.msg-header-img {
    border-radius: 50%;
    width: 40px;
    margin-left: 5%;
    margin-top: 12px;
    float: left;
}

.active {
    width: 120px;
    float: left;
    margin-top: 10px;
}

.active h4 {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}

.active h6 {
    font-size: 10px;
    margin-left: 10px;
    line-height: 2px;
    color: #fff;
}

.header-icons {
    width: 120px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

.header-icons .fa {
    color: #fff;
    cursor: pointer;
    margin-left: 90px;
}

.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
}

.chats {
    padding: 30px 15px 0 25px;
}

.msg-page {
    height: 250px;
    overflow-y: auto;
}

.received-chats-img {
    display: inline-block;
    width: 20px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-msg-inbox p {
    background: #007bff none repeat scroll 0 0;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing-msg-inbox {
    float: left;
    width: 46%;
    margin-left: 45%;
}

.outgoing-chats-img {
    display: inline-block;
    width: 20px;
    float: right;
}

.msg-bottom {
    position: relative;
    height: 10%;
    background-color: #007bff;
}

.input-group {
    float: right;
    margin-top: -5px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 90% !important;
    background-color: #fff;
}

.form-control {
    border: none !important;
    border-radius: 20px !important;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
}

.input-group .fa {
    color: #007bff;
    float: right;
}

.bottom-icons {
    float: left;
    margin-top: 17px;
    width: 30% !important;
    margin-left: 22px;
}

.bottom-icons .fa {
    color: #fff;
    padding: 5px;
}

.form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
}